# Environment files
.env
.env.local
.env.*.local

# Python caches
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Logs
*.log
logs/

# Virtual environment
venv/
.venv/
env/
ENV/

# Database dumps
*.sql.gz
*.dump

# IDE
.vscode/
.idea/
*.swp
*.swo

#old stuff
OLD/
Archive/
*.backup
*.ori
*.copy 
*copy*
