# Environment files
.env
#.env.example
.env.local
.env.*.local

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid