services:
  etl:
    build:
      context: .
      dockerfile: docker/etl/Dockerfile
    container_name: pepsico-etl-unified
    restart: "no"
    command: ["./entrypoint.sh"]
    environment:
      - DB_HOST=grafana-test-db.cbymoaeqyga6.us-east-2.rds.amazonaws.com
      - SSM_PATH=/aspectiq/demo
      - AWS_REGION=us-east-2
      - AWS_DEFAULT_REGION=us-east-2
    
    volumes:
      - ./scripts:/app/scripts:ro
      - ./sql:/app/sql:ro
      - etl_logs:/var/log/etl

volumes:
  etl_logs:
    name: pepsico_etl_logs